@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Pretendard Variable';
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: url('./assets/fonts/PretendardVariable.woff2') format('woff2-variations');
  }

  @font-face {
    font-family: 'MuseoModerno';
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: url('./assets/fonts/MuseoModerno-VariableFont_wght.ttf');
  }

  @font-face {
    font-family: 'Ydestreet';
    font-style: normal;
    font-display: swap;
    src: url('./assets/fonts/YdestreetB.ttf');
  }

  @font-face {
    font-family: 'GmarketSans';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./assets/fonts/GmarketSansTTFBold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'GmarketSans';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('./assets/fonts/GmarketSansTTFMedium.ttf') format('truetype');
  }

  @font-face {
    font-family: 'GmarketSans';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('./assets/fonts/GmarketSansTTFLight.ttf') format('truetype');
  }

  body {
    font-family: 'Pretendard Variable', serif;
    @apply flex justify-center bg-gray-900;
  }

  #root {
    width: 100vw;
    height: 100vh;
  }

  * {
    @apply box-border select-none;
  }

  input {
    @apply focus:outline-none;
  }
}

@layer utilities {
  .font-museo {
    font-family: 'MuseoModerno', serif;
    @apply tracking-tighter;
  }

  .text-title-1 {
    @apply text-xl font-semibold leading-8 tracking-tight;
  }

  .text-title-2 {
    @apply text-lg font-semibold leading-8 tracking-tight;
  }

  .text-title-3 {
    @apply text-base font-semibold leading-8 tracking-tight;
  }

  .text-body-1 {
    @apply text-lg font-medium leading-7 tracking-tight;
  }

  .text-body-2 {
    @apply text-lg font-normal leading-7 tracking-tight;
  }

  .text-body-3 {
    @apply text-base font-normal leading-7 tracking-tight;
  }

  .text-body-4 {
    @apply text-sm font-normal leading-7 tracking-tight;
  }

  .text-label-1 {
    @apply text-base font-medium leading-6 tracking-tight;
  }

  .text-label-2 {
    @apply text-sm font-medium leading-6 tracking-tight;
  }

  .text-label-3 {
    @apply text-sm font-medium leading-6 tracking-tight;
  }

  .text-button-1 {
    @apply text-base font-semibold leading-5 tracking-tight;
  }

  .text-button-2 {
    @apply text-base font-semibold leading-5 tracking-tight;
  }

  .text-button-3 {
    @apply text-sm font-semibold leading-5 tracking-tight;
  }

  .text-button-4 {
    @apply text-sm font-medium leading-5 tracking-tight;
  }

  .text-button-5 {
    @apply text-xs font-semibold leading-5 tracking-tight;
  }

  .background {
    @apply mx-auto h-screen w-full;
    @media (min-width: 720px) {
      max-width: 720px;
    }
  }

  .background-min {
    @apply mx-auto w-full;
    @media (min-width: 720px) {
      max-width: 720px;
    }
  }

  .wrapper {
    @apply px-6;
  }

  .scroll-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scroll-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
}
