@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Pretendard Variable';
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: url('./assets/fonts/PretendardVariable.woff2') format('woff2-variations');
  }

  @font-face {
    font-family: 'MuseoModerno';
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: url('./assets/fonts/MuseoModerno-VariableFont_wght.ttf');
  }

  body {
    font-family: 'Pretendard Variable', serif;
    @apply flex justify-center bg-black;
  }

  * {
    box-sizing: border-box;
  }
}

@layer utilities {
  .font-museo {
    font-family: 'MuseoModerno', serif;
    @apply font-semibold;
  }

  .text-title-1 {
    @apply text-xl font-bold leading-[140%];
  }

  .text-title-2 {
    @apply text-xl font-bold leading-[100%];
  }

  .text-body-1 {
    @apply text-sm font-medium leading-[160%];
  }

  .text-body-2 {
    @apply text-sm font-medium leading-[100%];
  }

  .text-body-3 {
    @apply text-sm font-medium leading-[100%];
  }

  .text-body-4 {
    @apply text-sm font-medium leading-[160%];
  }

  .text-label-1 {
    @apply text-xs font-bold leading-[120%];
  }

  .text-label-2 {
    @apply text-xs font-bold leading-[120%];
  }

  .text-button-1 {
    @apply text-base font-bold leading-[100%];
  }

  .text-button-2 {
    @apply text-base font-semibold leading-[100%];
  }

  .text-button-3 {
    @apply text-sm font-bold leading-[100%];
  }

  .text-button-4 {
    @apply text-sm font-medium leading-[100%];
  }

  .text-button-5 {
    @apply text-xs font-bold leading-[100%];
  }

  .background {
    @apply h-screen w-[402px] bg-gray-900;
  }
}
